<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h1>
      Welcome to the Club<% if (currentUser) { %>, <%= currentUser.username %><%
      } %>!
    </h1>
    <% if (currentUser) { %>
    <a href="/log-out">Log Out</a> |
    <a href="/new-message">New Message</a>
    <% } else { %>
    <a href="/log-in">Log In</a> |
    <a href="/sign-up">Sign Up</a>
    <% } %> <% if (messages.length) { %> <% messages.forEach(msg => { %>
    <h2><%= msg.title %></h2>
    <p><%= msg.text %></p>
    <% if (currentUser) { %>
    <small>By <%= msg.author %> on <%= msg.time %></small>
    <% } %> <% }) }%>
  </body>
</html>
